@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Iceberg&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --couleur-principale: #1A85FF;
    --couleur-blanche:#ffff;
    --couleur-noire:#0000;
    --taille-police: 16px;
    --taille-titre:30px;
    --police: Poppins;
}
body{
    overflow-x: hidden;
    font-family: var(--police);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }

nav{
    font-family: var(--police);
    height:80px;
}
.navbar-brand img{
    width: 80px;
}
.collapse{
    margin-left: 380px;
    gap: 20px;
}

.nav-link{
    font-weight: bold;
}

.connexion{
    color: var(--couleur-principale);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 30px;
}
.connexion h3{
    font-size: 20px;
    margin-top: 7px;
}

#banner
{
    background: url("./images/pere-aidant-sa-fille-faire-ses-devoirs_23-2148982083.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   justify-content: start; 
   align-items: center; 
   height: 100vh;
   margin-bottom: 0;
}
.banner{
    color: var(--couleur-blanche);
    margin-left: 50px;
    text-align: center;
}
.banner span{
    color: var(--couleur-principale);
}
.banner h1{
    font-size: 45px;
    
}
.banner p{
    font-size: var(--taille-titre);
}
#propos{
    height:600px;
    background-color: #E6F1FF;
    margin-top: 0;
}
.notre-histoire{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.notre-histoire .image{

    width: 500px;
    height: 500px;
    margin-top: 160px;
}
.notre-histoire .texte{
    width: 500px;
    height: 445px;
    margin-top: 30px;
    border: 1px solid #C4C4C4;
}

.notre-histoire .texte h2
{
    color: var(--couleur-principale);
    font-size: var(--taille-titre);
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--police);
}
.notre-histoire .texte p{
    text-align: justify;
    font-size: var(--taille-police);
    height: 350px;
    width: 400px;
    margin-left: 50px;
    font-family: var(--police);
   
    
}
.notre-histoire .texte p span{
    color: var(--couleur-principale);
    font-weight: bold;
}
.notre-histoire .texte a{
    height: 50px;
    width: 239px;
   
}
.notre-histoire .texte a button{
    color: var(--couleur-blanche);
    font-size: 20px;
    background-color: var(--couleur-principale);
    border-radius: 5px;
    border: 1px solid var(--couleur-principale);
}
#statistique{
    width: 1000px;
    height: 300px;
    margin-left: 150px;
    margin-top: -88px;
    background-color: var(--couleur-principale);
    border-radius: 5px;
}
.contenu{
  padding-top:50px ;
}
#statistique h2, #temoignage h2, #partenaire h2, #annonces h2{
    color: var(--couleur-blanche);
    font-size: var(--taille-titre);
    font-weight: bold;
    font-family: var(--police);
    text-align: center;
}
.statistique {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
   
    
}
.statistique .section-sta{
    width: 150px;
    height: 120px;
    border: 1px solid #C4C4C4;
    color: var(--couleur-blanche);
    text-align: center;
}
.statistique .section-sta h3{
    margin-top: 20px;
}
#annonces{
    height: 480px;
}
.cartes{
    margin: 50px;
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartes .card{
    width: 350px;
    height: 200px;
    background-color: #E9F3FE;
}
.cartes .card-body{
    text-align: center;
    margin-top: 80px;
}

.cartes .card-title{
    font-weight: bold;
}
.cartes .card-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartes .card-foot p{
    font-size: 12px;
}
.cartes .card-foot p span{
    font-weight: bold;
}
#temoignage {
    height: 500px;
    margin: 50px;
    margin-top: 0;

}
#temoignage h2, #partenaire h2, #annonces h2{
    color: var(--couleur-principale);
}
.row {
    padding: 20px;
}

.card-title {
   text-align: end;
   margin-top: -80px;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   
}
.card-text{
    font-size: 13px;
    font-weight: 300;
  
}
#partenaire{
    height: 300px;
    margin: 70px;
    background-color: #D9D9D9;
}
#partenaire #carouselPartenaires{
    display: flex;
    justify-content: center;
    text-align: center;
  
}
.carousel-item{
    gap: 50px;
}
.carousel-item img{
    height: 130px;
    width: 130px;
    margin: 15px;
}
footer{
    height: 400px;
    background-color: #F7F9FC;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
    gap: 30px;
}
.newsletter .message{
    width: 320px;
    font-family: var(--police);
}
.newsletter input{
    width: 300px;
    height: 50px;
    border-radius: 100px;
    padding: 10px;
}
.newsletter .bouton a{
    height: 50px;
    width: 150px;
   
}
.newsletter .bouton a button{
    color: var(--couleur-blanche);
    font-size: 14px;
    background-color: var(--couleur-principale);
    border-radius: 100px;
    border: 1px solid var(--couleur-principale);
}
footer .contenu1{
    display: flex;
     align-items: center;
     justify-content: space-around;
}
footer .contenu1 .droite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

footer .nav-link{
    font-weight: 300;
}
.logo{
    width: 360px;
    margin-left: 50px;
}
.logo img {
    width: 100px;
}
.logo h2{
    font-family: var(--police);
    font-size: var(--taille-police);
    font: var(--taille-titre);
    width: 200px;
    font-weight: bold;
}
.logo p{
    font-family: var(--police);
    font-size: 12px;
}
.logo p span{
     color: var(--couleur-principale);
}

.media{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.app .link-app .bouton{
    margin: 10px;
}
.app .link-app a{
    height: 50px;
    width: 150px;
    text-decoration: none;
   
}
.app .link-app a button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #C4C4C4;
    font-size: 14px;
    background-color: var(--couleur-blanche);
    border-radius: 100px;
    border: 1px solid #C4C4C4;
}
#copyright{
    height: 70px;
    background-color: var(--couleur-principale);
}

#copyright .row p{
    text-align: center;
    color: var(--couleur-blanche);
}